<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../src/design/style-index.css" />
    <link rel="stylesheet" href="src/css/style-index.css" />
    <link rel="stylesheet" href="../../../src/design/normalize.css" />
    <title>Feria Internacional de Tecnología de la Inclusión</title>
  </head>
  <body>
    <header>
      <div class="contact__header">
        <div class="contacts__mobile">
          <div class="mobile__item">
            <a href="https://goo.gl/maps/ZA9JLMsbLzqyfCNL8">
              <i class="fa-solid fa-location-dot"></i> Polideportivo Juan
              Domingo Perón
            </a>
          </div>
          <div class="mobile__item">
            <a href="tel:011 4441-0798">
              <i class="fa-solid fa-phone"></i>
              011 4441-0798
            </a>
          </div>
        </div>
        <div class="contacts__social">
          <div class="social__item">
            <a href="https://www.instagram.com/citlamok/"
              ><i class="social__logo fa-brands fa-instagram"></i
            ></a>
          </div>
          <div class="social__item">
            <a href="https://www.facebook.com/EducacionCyT"
              ><i class="social__logo fa-brands fa-facebook"></i
            ></a>
          </div>
          <div class="social__item">
            <a href="https://www.youtube.com/channel/UC4w40YaO8Wn3L7bx2JOrZrg"
              ><i class="social__logo fa-brands fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="logo">
          <a href="../../../index.html">
            <img src="/assets/img/logo_SCYT.png" alt="" class="logo__img" />
          </a>
        </div>
        <div class="nav__buttons">
          <a href="../activities/activities.html" class="button">Actividades</a>
          <a href="#" class="button">Proyectos</a>
          <a href="https://forms.gle/zeK7qAvGkYQDwc3W7" class="button"
            >Contacto</a
          >
        </div>
        <div class="title">
          <p class="line__top">Feria Internacional de</p>
          <p class="line__bottom">Tecnologías para la inclusión</p>
        </div>
      </nav>
    </header>
    <section class="projects__container">
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Eco Mesa 57011 (Mesa Regulable)</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/XumFxzd10mk"
            title="Eco Mesa 57011 (Mesa Regulable)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              Es un banco de trabajo adaptado a personas con discapacidad que
              les permite realizar multiples tareas, con fines didacticos
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">Insitituciones que lo desarrollan</h4>
            <ul class="list__team">
              <li class="team__item">EEST N° 11</li>
              <li class="team__item">EEE N° 507</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Trabajando Juntos</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/ka9-GgdtVsI"
            title="Trabajando Juntos"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              "El proyecto es una articulación de la escuela técnica Instituto
              centro san José y el CFI Santa Inés. En el cual se realizaran
              varias acciones, en principio, la vinculación de alumnos de ambas
              instituciones trabajando con una misma finalidad. Se realizara la
              instalación de un riego automatizado para un invernadero. También
              se realizaran baldosas ecológicas, utilizando materiales
              reciclables Además los alumnos del instituto centro san José,
              dictarán talleres de herrería y electricidad para los alumnos del
              CFI Santa Inés"
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">Instituto Centro San José</li>
              <li class="team__item">CFI Santa Inés</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Todos somos Montiel</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtube.com/shorts/nbW_ROdagyU"
            title="Todos Somos Montiel"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              El proyecto consta de una estructura que facilita el trabajo en el
              taller de un compañero de 1° año que tiene una discapacidad en sus
              piernas y utiliza muletas canadienses para desplazarse
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">Instituto Centro San José</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Braille/Vida</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/sRHkMvy09KI"
            title="Braille/Vida"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              "Enseñanza del Sistema Braille a través del juego. Nuestro
              proyecto llamado ""Braille/Vida” es un programa de enseñanza del
              sistema braille para personas que pierden la visión en edad
              adulta. Nuestro objetivo es enseñar a nuestros alumnos a través de
              secuencias y niveles de juego para que luego ellos puedan replicar
              estas actividades ayudando a estas personas a adaptarse a su nueva
              realidad y a mejorar su calidad de vida a través del aprendizaje
              del braille. Además de la inclusión a partir de la posibilidad de
              leer y escribir en braille, nuestro proyecto también aporta una
              serie de beneficios adicionales. Al aprender braille, las personas
              pueden mejorar su memoria, su capacidad de concentración y su
              habilidad para procesar información. También pueden aumentar su
              confianza y autoestima a medida que se adquieren nuevas
              habilidades. Y es abierto a cualquier persona que esté interesada
              en aprender. “Braille/Vida” también tiene un aspecto emprendedor a
              partir de la selección de juegos apropiados (tarjetas didácticas,
              niveles de complejidad, actividades de reflexión, etc.) en los que
              serán los alumnos quienes los creen; por otro lado, potencia
              valores y un aspecto solidario ya que creemos que todas las
              personas, independientemente de su condición, merecen tener acceso
              a la educación y a las mismas oportunidades. Al aprender Braille,
              los estudiantes también están ayudando a mejorar la calidad de
              vida de las personas con discapacidades visuales. Contamos con el
              material para la enseñanza y aprendizaje del Braille con las
              regletas, punzones y papel especial adquiridos como recursos en la
              BAC (Biblioteca Argentina para Ciegos)."
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">Instituto Jorge Guillermo Borges</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Atril de mesa</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/b6EMZybt86Q"
            title="Atril de Mesa"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              El proyecto consta en el diseño y fabricación de un atril de mesa
              con regulación automatizada para alumnos de una escuela especial
              con discapacidad motriz
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">Instituto Centro San José</li>
              <li class="team__item">EEE 505</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Dispositivo de aprendizaje</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/RzANUn1taks"
            title="Dispositivo de aprendizaje"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              El proyecto tiene como premisa utilizar los conocimientos de la
              electromecánica y programación de este grupo de alumnas del
              instituto Centro San José, para desarrollar un dispositivo que
              ayude a los docentes de la escuela especial 517 a realizar
              actividades relacionadas con el aprendizaje. Esto serían
              dispositivos lúdicos relacionados con las matemáticas y la
              lectoescritura
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">Instituto Centro San José</li>
              <li class="team__item">EEE 517</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">ORG-A-BONO</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/ivkja19HXVs"
            title="ORG-A-BONO"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              Realizaremos fertilizantes orgánicos secos utilizando desechos que
              se generan en su totalidad en la escuela, que tienen como base
              potasio, nitrógeno y fósforo; oligonutrientes y micronutrientes.
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">E.E.S.T.N°5</li>
              <li class="team__item">E.E.E N°512</li>
              <li class="team__item">Club "Michael Faraday"</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Nueva visión</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/BYx3s8sYCK8"
            title="Nueva visión"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              Se trata de un dispositivo para ayudar a las personas no videntes
              a detectar obstáculos y evitar accidentes. Es un complemento que
              se ubica en unos lentes que cuenta con un sensor de ultrasonido y
              emite una señal de alerta en forma de vibración. No reemplaza al
              bastón, sino que complementa su funcionalidad.
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">EET N° 10</li>
              <li class="team__item">EE N°511</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">DOMO 12 Y La huerta Comunitaria</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/zojPYA7YDUQ"
            title="DOMO 12 Y La huerta Comunitaria"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              El club de ciencias que pertenece a la EEE512 ubicada en el barrio
              20 de Junio de Isidro Casanova, cuenta con una huerta en dónde los
              estudiantes realizan distintas actividades cultivando hortalizas
              hasta el momento de la cosecha. En ese mismo espacio se encuentra
              una estructura la cual se inició hace varios años con la finalidad
              de tener un invernadero en la huerta, logrando finalizarlo
              reciclando botellas de PET que los alumnos recolectaron. En dicho
              invernadero vamos a cultivar distintas especies en almacigos que
              luego formarán parte de nuestra huerta Comunitaria. Cómo
              continuidad de este proyecto queremos conectar un sistema de riego
              comandado por robótica.
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">EEE 512 Lucia Piccoli</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">Juguemos entre todos</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/TEnAw-rDx4s"
            title="Juguemos entre todos"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              Este proyecto nace a raíz de poder realizar una integración de la
              discapacidad motriz con. El deporte Todas las personas pueden
              practicar deportes es el principio de la insercion social y por
              ende el primer paso a la integracion.(inclusión) Por tal motivo
              nace este proyecto pensado en que los alumnos puedan compartir un
              momento deportivo y que su condición física no sea un impedimento
              y no puedan realizarlo Es un dispositivo realizado en impresión
              3d. stick de mano y TStick para hockey adaptado a silla de ruedas
              para juego de hockey de integración , es un stock diseñado para
              jugar entre jugadores con discapacidad morttiz y personas sin
              discapacidad. Se realizó el diseño y la adaptación del
              reglamenton.
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">EEE N507</li>
              <li class="team__item">EEST n 5</li>
              <li class="team__item">Club de Ciencias Faraday</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">ILUMIN-ARTE 1</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtube.com/shorts/nbW_ROdagyU"
            title="ILUMIN-ARTE 1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              El proyecto es una Mesa luminica que tiene como finalidad
              emplearse con fines didácticos. La misma es requerimiento para la
              aprendizaje de la escuela especial número 501.
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">EEST Nro 11</li>
              <li class="team__item">EEE RDD 501</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">ILUMIN-ARTE 2</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/rjgYNsbcK8A"
            title="ILUMIN-ARTE 2"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              MESA LUMINICA PARA TRABAJO EDUCATIVO MULTISENSORIAL
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">E.E.E N° 501</li>
              <li class="team__item">E.E.S.T N° 3</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
      <div class="project__container">
        <div class="project__title-container">
          <h3 class="title__project">1,2,3... A JUGAR</h3>
        </div>
        <div class="project__video">
          <iframe
            width="600"
            height="300"
            src="https://youtu.be/uf6KJ7CYR2Y"
            title="1,2,3... A JUGAR"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
        <div class="project__description project__reverse">
          <img
            src="../../../assets/img/description.png"
            alt=""
            class="logo__project"
          />
          <div class="description__container project__reverse">
            <h4 class="subtitle__project">Descripción</h4>
            <p class="description__text">
              El Proyecto trata de la "Construcción de Tableros Sensoriales
              Didácticos para Estudiantes con Problema de TEA"
            </p>
          </div>
        </div>
        <div class="project__team project__reverse">
          <img
            src="../../../assets/img/team.png"
            alt=""
            class="logo__project"
          />
          <div class="team__container">
            <h4 class="subtitle__project">¿Quienes lo realizan?</h4>
            <ul class="list__team">
              <li class="team__item">E.E.E.Nº 501 "CARLOS S. COMETTO"</li>
              <li class="team__item">E.E.S.T.Nº 4 "JUAN MANUEL FANGIO"</li>
            </ul>
          </div>
        </div>
        <div class="project__datetime project__reverse">
          <img
            src="../../../assets/img/calendar_logo.png"
            alt=""
            class="logo__project"
          />
          <div class="datetime__container">
            <h4 class="subtitle__project">Fecha y Horario</h4>
            <p class="description__text">Lunes 3 de Julio a las 10:30 hs.</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="section__footer">
        <img
          src="../../../assets/img/logo_municipio.png"
          alt="Municipio de La Matanza"
          class="logo__footer"
        />
      </div>
      <div class="section__footer">
        <h1 class="title__footer">Contactanos</h1>
        <ul class="list__footer">
          <li class="item__left item__footer">
            <a
              href="https://goo.gl/maps/ZA9JLMsbLzqyfCNL8"
              class="item__footer-a"
            >
              Polideportivo Juan Domingo Perón
            </a>
          </li>
          <li class="item__left item__footer">
            <a href="tel:011 4441-0798" class="item__footer-a">011 4441-0798</a>
          </li>
        </ul>
      </div>
      <div class="section__footer">
        <h1 class="title__footer">Seguinos</h1>
        <ul class="list__footer">
          <li class="item__footer">
            <a
              href="https://www.instagram.com/citlamok/"
              class="item__footer-a"
            >
              <i class="fa-brands fa-instagram"></i>
              <span class="title__item">Instagram</span>
            </a>
          </li>
          <li class="item__footer">
            <a
              href="https://www.facebook.com/EducacionCyT"
              class="item__footer-a"
            >
              <i class="fa-brands fa-facebook"></i>
              <span class="title__item">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="section__footer">
        <img
          src="../../../assets/img/logo_SCYT.png"
          alt="Secretaría de Ciencias y Tecnología"
          class="logo__footer"
        />
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/5317951493.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
