<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../src/design/style-index.css" />
    <link rel="stylesheet" href="src/css/style-index.css" />
    <link rel="stylesheet" href="../../../src/design/normalize.css" />
    <title>Feria Internacional de Tecnología de la Inclusión</title>
  </head>
  <body>
    <header>
      <div class="contact__header">
        <div class="contacts__mobile">
          <div class="mobile__item">
            <a href="https://goo.gl/maps/ZA9JLMsbLzqyfCNL8">
              <i class="fa-solid fa-location-dot"></i> Polideportivo Juan
              Domingo Perón
            </a>
          </div>
          <div class="mobile__item">
            <a href="tel:011 4441-0798">
              <i class="fa-solid fa-phone"></i>
              011 4441-0798
            </a>
          </div>
        </div>
        <div class="contacts__social">
          <div class="social__item">
            <a href="https://www.instagram.com/citlamok/"
              ><i class="social__logo fa-brands fa-instagram"></i
            ></a>
          </div>
          <div class="social__item">
            <a href="https://www.facebook.com/EducacionCyT"
              ><i class="social__logo fa-brands fa-facebook"></i
            ></a>
          </div>
          <div class="social__item">
            <a href="https://www.youtube.com/channel/UC4w40YaO8Wn3L7bx2JOrZrg"
              ><i class="social__logo fa-brands fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="logo">
          <a href="../../../index.html">
            <img src="/assets/img/logo_SCYT.png" alt="" class="logo__img" />
          </a>
        </div>
        <div class="nav__buttons">
          <a href="#" class="button">Actividades</a>
          <a href="../proyectos/projects.html" class="button">Proyectos</a>
          <a href="https://forms.gle/zeK7qAvGkYQDwc3W7" class="button"
            >Contacto</a
          >
        </div>
        <div class="title">
          <p class="line__top">Feria Internacional de</p>
          <p class="line__bottom">Tecnologías para la inclusión</p>
        </div>
      </nav>
    </header>
    <section class="activities__monday">
      <div class="date__container">Lunes 3 de Julio</div>
      <div class="activities__container">
        <div class="activity__container">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
        <div class="activity__container activity__reverse">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
        <div class="activity__container">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
      </div>
      <div class="date__container">Martes 4 de Julio</div>
      <div class="activities__container">
        <div class="activity__container activity__reverse">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
        <div class="activity__container">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
        <div class="activity__container activity__reverse">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
      </div>
      <div class="date__container">Miércoles 5 de Julio</div>
      <div class="activities__container">
        <div class="activity__container">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
        <div class="activity__container activity__reverse">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
        <div class="activity__container">
          <img
            src="../../../assets/img/people.png"
            alt="Logo de Actividades"
            class="activity__logo"
          />
          <div class="activity__text">
            <p class="activity__title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="activity__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              enim, tempora illum assumenda voluptate dolorem eum, odit ab rem
              molestiae porro ut vero similique officia optio consequuntur illo
              id. Eaque.
            </p>
            <p class="activity__timetable">
              <i class="fa-solid fa-clock"></i> Horario: 09:00 a 10:00
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="section__footer">
        <img
          src="../../../assets/img/logo_municipio.png"
          alt="Municipio de La Matanza"
          class="logo__footer"
        />
      </div>
      <div class="section__footer">
        <h1 class="title__footer">Contactanos</h1>
        <ul class="list__footer">
          <li class="item__left item__footer">
            <a
              href="https://goo.gl/maps/ZA9JLMsbLzqyfCNL8"
              class="item__footer-a"
            >
              Polideportivo Juan Domingo Perón
            </a>
          </li>
          <li class="item__left item__footer">
            <a href="tel:011 4441-0798" class="item__footer-a">011 4441-0798</a>
          </li>
        </ul>
      </div>
      <div class="section__footer">
        <h1 class="title__footer">Seguinos</h1>
        <ul class="list__footer">
          <li class="item__footer">
            <a
              href="https://www.instagram.com/citlamok/"
              class="item__footer-a"
            >
              <i class="fa-brands fa-instagram"></i>
              <span class="title__item">Instagram</span>
            </a>
          </li>
          <li class="item__footer">
            <a
              href="https://www.facebook.com/EducacionCyT"
              class="item__footer-a"
            >
              <i class="fa-brands fa-facebook"></i>
              <span class="title__item">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="section__footer">
        <img
          src="../../../assets/img/logo_SCYT.png"
          alt="Secretaría de Ciencias y Tecnología"
          class="logo__footer"
        />
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/5317951493.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
